<%= form_with(model: task, local: true) do |form| %>
  <% if task.errors.any? %>
    <div id="error-message">
      <ul>
      <% task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="field">
    <%= form.label :expire_at %>
    <%= form.text_field :expire_at %>
  </div>

  <div class="field">
    <%= form.label :priority %>
    <%= form.select :priority, priorities.keys.to_a %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.select :status, statuses.keys.to_a %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
