<div class="row">
  <div class="col-12 clearfix">
    <%= render 'search_form', statuses: @statuses %>
  </div>
  <div class="col-12 clearfix">
    <div class="float-right">
      <%= link_to t('view.common.link_text.new'), new_task_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>

<nav class="nav">
  <%= link_to t('view.task.link_text.sort_by_expire'), tasks_path(sort: 'expire'), id: "sort_by_expire", class: "nav-link"  %>
  <%= link_to t('view.task.link_text.sort_by_created_at'), tasks_path, id: "sort_by_created_at", class: "nav-link" %>
  <%= link_to t('view.task.link_text.sort_by_priority_desc'), tasks_path(priority: 'desc'), id: "sort_by_priority_desc", class: "nav-link" %>
  <%= link_to t('view.task.link_text.sort_by_priority_asc'), tasks_path(priority: 'asc'), id: "sort_by_priority_asc", class: "nav-link"%>
</nav>

<hr />

<table id="task_table" class="table">
  <thead class="thead-dark">
    <tr>
      <th>タスク</th>
      <th>ステータス</th>
      <th>優先度</th>
      <th>作成日時</th>
      <th>期限</th>
      <th>詳細</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody id="task_table_body">
    <% @tasks.each do |task| %>
      <tr>
        <td id="title"><%= task.title %></td>
        <td id="status"><%= task.status %></td>
        <td id="priority"><%= task.priority %></td>
        <td id="created_at"><%= l(task.created_at, format: :long) %></td>
        <td id="expire_at"><%= l(task.expire_at, format: :long) unless task.expire_at.nil? %></td>
        <td id="edit_link"><%= link_to t('view.common.link_text.edit'), edit_task_path(task) %></td>
        <td id="delte_link"><%= link_to t('view.common.link_text.delete'),
          task_path(task), method: :delete,
          data: {confirm: t('view.task.message.delete_confirm')} %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="row justify-content-center">
  <div class="mx-auto">
    <%= paginate @tasks %>
  </div>
</div>
